<h3>Total order Price is : {{totalOrderPrice}}</h3>

<div class="m-5">
  <label for="" class="form-label">Category</label>
  <select class="form-select form-select-lg" name="" id="" [(ngModel)]="selectedCatId" (change)="filterProducts()">
  <option selected value="0">All</option>
    <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>

  </select>

  <h3>selcted cat id {{selectedCatId}}</h3>
</div>


<div class="row row-cols-1 row-cols-md-4 g-4 m-5">
  <ng-container *ngFor="let prd of products;let i=index;trackBy:trackByFun">
    <div class="col" >

      <div class="card" >

        <!-- property binding -->
        <img [src]="prd.imgUrl" class="card-img-top" alt="..." [style]="x">

        <div class="card-body">
          <h5 class="card-title">{{prd.name | uppercase}} </h5>
          <!-- <p class="card-text">Price is : {{prd.price |currency:'EUR':'symbol'}}</p> -->
          <p class="card-text">Price is : {{prd.price |currencyTransform:20}}</p>

          <ng-container [ngSwitch]="prd.quantity">
            <p class="card-text" *ngSwitchCase="0">Quantity is : Out of stock</p>
            <p class="card-text" *ngSwitchCase="1">Quantity is : last item</p>
            <p class="card-text" *ngSwitchCase="2">Quantity is : last two items</p>
            <p class="card-text" *ngSwitchDefault>Quantity is : {{prd.quantity}}</p>
          </ng-container>
       <button class="btn btn-success" (click)="navigateToDetails(prd.id)">View</button>
        </div>
      </div>
    </div>

  </ng-container>
  <!-- <p>Today's Date {{date | date:'shortDate'}}</p> -->


</div>
